body {
    margin:  0px; 
    background-image: url('images/image.jpg');
    background-repeat: no-repeat; 
    background-color: #cccccc;
    background-attachment: fixed;
    background-size: 100%;
  
}



.navbar{
    background-color: rgb(58, 58, 58); 
    margin: 0px; 
    border: 10px solid  rgb(58, 58, 58); 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000; 
    
}

.page{
    padding:0% 2%; 
    display: flex; 
    justify-content: center; 
}
.nav_images{
    width: 1.5%;
    margin: 0; 
    border: 0; 
}

.home{
    color: white; 
    padding:0% 2%; 
    text-decoration: none;
    
}
.contact{
    color: grey; 
    padding:0% 2%; 
}
.title{
    margin-top: 15%;
    display: flex; 
    justify-content: center;
}

.main{
    margin: 10%;  
    background-color: rgba(209, 31, 85, 0.5);
    border-radius: 10%;
    padding: 3%;
    text-align: center;
    
}
.pre_title{
    font-size: 40px;
    font-family: Brush Script MT, cursive;
}
.title{
    margin: 0%; 
    margin-bottom: 5%;
    color: white; 
    font-size: 120px;
    font-family: Helvetica;
}
.element{
    padding-left: 35%; 
    display: flex; 
    justify-content: flex-start;
    margin: 5%; 
    align-items: center;
}

.images{
    width: auto;
    max-width: 50px;
    height: auto;
    max-height: 35px;
    overflow:hidden; 
}